/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  background: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  padding-bottom: 15px;
}

.color {
  animation: background-body 3s 2.5s forwards;
}

.title {
  text-align: center;
  color: #5EC84C;
  word-spacing: 5px;
  margin-bottom: 10px;
  margin-top: 25px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 16px;
}

/* primo blocco */
 #user-input {
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(94, 200, 76, 0.6);
  padding-bottom: 7px;
}

.data {
  display: flex;
  justify-content: center;
}

.data-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

#first-container {
  margin-top: 30px;
  opacity: 0;
  transform: translateY(-300px);
  position: relative;
}

#first-container a {
  padding: 8px 12px;
  background: rgba(16, 36, 54, 0.9);
  text-decoration: none;
  border-radius: 5px;
  color: #5EC84C;
  margin: 5px;
}

#logo-small {
  width: 50px;
  position: absolute;
  top: 40px;
  left: 5px;
}

.buttons {
  text-align: center;
  padding: 15px;
}

label {
  color: #102436;
  margin-bottom: 10px;
}

#name, #km {
  border: solid 1px #5EC84C;
  padding: 5px;
  border-radius: 5px;
  color: #102436;
  background: #fff;
}

#age {
  border: solid 1px #5EC84C;
  padding: 4px;
  border-radius: 5px;
  color: #102436;
  background: #fff;
}

#name:focus,
#km:focus,
#age:focus {
  background: #5EC84C;
}

.fade-in {
  animation: fade-in 1.5s 8s forwards;
}


/* secondo blocco */
#second-container {
  opacity: 0;
}

#second-container.visible {
  opacity: 1;
}

#user-output {
  background: #fff;
  box-shadow: -2px 2px 8px rgba(94, 200, 76, 0.6);
  padding: 15px;
  border-radius: 10px;
}

#userName {
  font-size: 19px;
}

.dati-biglietto {
  display: flex;
  border-top: solid 1px #102436;
  border-bottom: solid 1px #102436;
}

.nome-passeggero {
  flex-basis: 30%;
  background: #5EC84C;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nome-passeggero h3 {
  text-align: center;
}

.prezzo-biglietto {
  flex-basis: 70%;
  display: flex;
  justify-content: center;
}

.prezzo-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.prezzo-item h4 {
  margin-bottom: 30px;
}

/* titolo */
#title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

#title-container h1 {
  color: #fff;
  font-size: 55px;
}

#title-container h1 span {
  color: #5EC84C;
  font-size: 28px;
}

#title-container.title-animate {
  animation: title 5s 4s forwards;
}


/* immagine treno e logo */
#train {
  width: 280px;
  position: absolute;
  top: 51%;
  left: -250px;
  animation: train 7s forwards;
  transform: translateX(0);
}

#train2 {
  width: 280px;
  position: absolute;
  top: 51%;
  right: -400px;
  transform: translateX(0);
}

.train-to-left {
  animation: train2 4s forwards;
}

.img-container {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: -250px;
  animation: logo 7s forwards;
}

.logo-to-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  animation: logo-to-left 2s 2s forwards;
}

.logo-boolean {
  width: 250px;
  cursor: pointer;
}

.logo-animate {
  animation: logo-scale 2.5s 5.5s infinite linear;
}

/* keyframes */
@keyframes train {

  0% {
    top: 51%;
    left: -250px;
    transform: translateX(0);
  }

  70% {
    top: 51%;
    left: 54%;
    transform: translateX(-50%);
  }

  100% {
    top: 51%;
    left: 120%;
    transform: translateX(0);
  }
}

@keyframes train2 {

  0% {
    top: 51%;
    right: -250px;
    transform: translateX(0);
  }

  50% {
    top: 51%;
    right: 43%;
    transform: translateX(0);
  }

  100% {
    top: 51%;
    right: 120%;
    transform: translateX(0);
  }
}

@keyframes logo-to-left {

  0% {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  100% {
    top: 50%;
    left: -38%;
    transform: translateY(-50%);
    opacity: 0;
  }
}


@keyframes logo {

  0% {
    top: 50%;
    left: -250px;
    transform: translateY(-50%) translateX(0) ;
  }

  70% {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) ;
  }

  100% {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) ;
  }
}

@keyframes logo-scale {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes background-body {

  0% {
    background: #fff;
  }

  100% {
    background: #102436;
  }
}

@keyframes title {

  0% {
    opacity: 0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(2);
    top: 50%;
    left: 50%;
  }

  70% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(2);
    top: 50%;
    left: 50%;
  }

  85% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(2) rotate(-360deg);
    top: 50%;
    left: 50%;
  }

  100% {
    opacity: 1;
    transform: scale(2) rotate(-360deg);
    top: -100px;
    left: 120%;
  }
}

@keyframes fade-in {

  0% {
    opacity: 0;
    transform: translateY(-300px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* media query */
@media all and (max-width: 991px) {
  .data {
    flex-wrap: wrap;
  }

}

@media all and (min-width: 300px) and (max-width: 657px) {
  .data-item:last-child,
  .data-item:nth-child(2) {
    padding-top: 0;
  }
  .prezzo-biglietto {
    flex-wrap: wrap;
  }
}

@media all and (max-width: 587px) {

  body {
    overflow-y: auto;
    height: auto;
  }

  #logo-small {
    top: 65px;
    width: 40px;
  }

  #title-container h1 {
    font-size: 30px;
  }

  #title-container h1 span {
    font-size: 20px;
  }

  #train {
    width: 250px;
  }

  #train2 {
    width: 250px;
  }

  @keyframes logo-scale {

    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes logo-to-left {

    0% {
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    100% {
      top: 50%;
      left: -75%;
      transform: translateY(-50%);
      opacity: 0;
    }
  }

  @keyframes train2 {

    0% {
      top: 51%;
      right: -250px;
      transform: translateX(0);
    }

    50% {
      top: 51%;
      right: 28%;
      transform: translateX(0);
    }

    100% {
      top: 51%;
      right: 130%;
      transform: translateX(0);
    }
  }

}
